court-processor/n8n_workflows/flp_enhancement_workflow.json
{
  "name": "FLP Opinion Enhancement",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://court-processor:8090/pending",
        "responseFormat": "json",
        "options": {
          "qs": {
            "source": "both",
            "limit": "10"
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Get Pending Opinions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "opinions",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Split Opinions",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://court-processor:8090/enhance/opinion",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "opinion_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Enhance Opinion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "waitBetweenItems": 2000
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Rate Limit",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "Enhanced {{ $items.length }} opinions"
            }
          ],
          "number": [
            {
              "name": "total_processed",
              "value": "={{ $items.length }}"
            },
            {
              "name": "successful",
              "value": "={{ $items.filter(item => item.json.success).length }}"
            }
          ]
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://court-processor:8090/stats",
        "responseFormat": "json"
      },
      "id": "a7b8c9d0-e1f2-3456-bcda-789012345678",
      "name": "Get Enhancement Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Pending Opinions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Opinions": {
      "main": [
        [
          {
            "node": "Split Opinions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Opinions": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Enhance Opinion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Opinion": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Get Enhancement Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "01234567-89ab-cdef-0123-456789abcdef",
  "id": "flp_enhancement_001",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "tags": []
}